<div class="provider">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 text-center">
        <h1 class="contorn-effect py-4"><%= @provider.name %></h1>
        <h4>Información del proveedor</h4>
        <p>Este proveedor pose el nit: <strong><%= @provider.nit %></strong></p>
        <p>Su numero de cuenta es <strong><%= @provider.account_number %></strong> del banco
        <strong><%= @provider.bank.name %></strong></p>
        <p>Para mas información contactar con <strong><%= @provider.contact_person %></strong> al numero
        <strong><%= @provider.contact_number %></strong></p>
        <%= link_to 'Editar información del proveedor', edit_provider_path(@provider),class:"btn btn-primary" %>
        <%= link_to '¿Deseas eliminar el proveedor?', provider_path(@provider),class:"btn btn-danger" ,
        method: :delete, data: {turbo_method: :delete,
        turbo_confirm: "¿Deseas eliminar el proveedor?"} %>
      </div>
    </div>
  </div>
</div>
