<div class="log-in d-flex justify-content-center">
  <div class="container bg-white rounded-5 shadow p-5">
    <div class="row">
      <div class="col">
        <h2 class="text-center text-dark">Nuevo Usuario</h2>

        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">
            <%= f.input :name,
                        required: true,
                        label: "Nombre",
                        class: "form-control" %>
            <%= f.input :email,
                        required: true,
                        autofocus: true,
                        input_html: { autocomplete: "email" },
                        class: "form-control" %>
            <%= f.input :password,
                        required: true,
                        hint: ("minimo #{@minimum_password_length} caracteres" if @minimum_password_length),
                        input_html: { autocomplete: "new-password" },
                        class: "form-control" %>
            <%= f.input :password_confirmation,
                        required: true,
                        input_html: { autocomplete: "new-password" },
                        class: "form-control" %>
          </div>

          <div class="form-actions text-center">
            <%= f.button :submit, "Registrarse", class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
