<nav style="--bs-breadcrumb-divider: '->';" aria-label="breadcrumb">
  <ol class="breadcrumb container pt-5">
    <li class="breadcrumb-item"><%= link_to 'Dashboard', root_path %></li>
    <li class="breadcrumb-item"><%= link_to 'Lista de Bancos', providers_path %></li>
    <li class="breadcrumb-item active" aria-current="page"><%= @bank.name %></li>
  </ol>
</nav>
<div class="bank">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6 text-center">
        <h1 class="contorn-effect py-4"><%= @bank.name %></h1>
        <% if @associated_providers.any? %>
          <h5>Este banco posee los siguientes proveedores</h5>
          <table class="table table-dark table-striped-columns">
            <thead>
              <tr>
                <th>Nombre del Proveedor</th>
                <th>Numero de cuenta</th>
              </tr>
            </thead>
            <tbody>
              <% @associated_providers.each do |provider| %>
                <tr>
                  <td><%= provider.name %></td>
                  <td><%= provider.account_number %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        <% else %>
          <h5>Este banco aún no tiene proveedores asociados.</h5>
        <% end %>
        <%= link_to 'Editar información del Banco', edit_bank_path(@bank),class:"btn btn-primary" %>
        <%= link_to '¿Deseas eliminar el Banco?', bank_path(@bank), method: :delete,
        data: {turbo_method: :delete, turbo_confirm: "Si eliminas el Banco, eliminas sus proveedores ¿Deseas continuar?"},
        class:"btn btn-danger" %>
      </div>
    </div>
  </div>
</div>
